@page "/register"
@using ProcessSystem.UI.Blazor.Shared
@inject HttpClient Http

<h1>Register in Process System</h1>

<p>This component demonstrates Register/Unregister</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@forecasts</p>
}

<button class="btn btn-primary" @onclick="RegisterProcess">Register</button>
<button class="btn btn-primary" @onclick="UnregisterProcess">Unregister</button>

@code {
    private string forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = "2132231";
    }


    private async Task RegisterProcess()
    {
        forecasts = await Http.GetStringAsync("Register/Register");
    }

    private void UnregisterProcess()
    {
        forecasts = "Un Reg";
    }
}
